PORT= 3030
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your-password
DB_NAME=quay-mini-crm
DB_TYPE=mysql
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRATION=8h
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=
